@import "./variables";

.auth-form {
    padding: 2%;
    > div {
        padding: 15px;
    }
    .logo {
        font-family: "Nunito", "Roboto", sans-serif;
        font-size: 2rem;
    }
}

.auth-menu {
    text-align: right;
}

