
$colorDarkText: #b9bbb7;
$colorDarkTextSecond: #595959;
$colorDarkBg: #303030;
$colorDarkBgSecond: #424242;
$colorDarkBorder: #595959;

$colorLightText: #303030;
$colorLightBg: #ffffff;
$colorLightBgSecond: #d8d8d8;
$colorLightBorder: #b9b9b9;
